@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@media all and (min-width: 350px) {
  * {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
  }

  .main {
    background-color: #fff;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .head-line > button {
    margin-top: 50px;
  }

  .header > h2 {
    padding: 10px 12px;
    cursor: pointer;
  }

  .head-line > button,
  .header > nav button {
    padding: 10px 12px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
  }

  .menu-icon {
    width: 24px;
  }

  .head-line {
    min-height: 100vh;
    background-image: url("./media/header-illsutration-mobile@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head-line > h1 {
    color: #172b4d;
    font-size: 40px;
  }

  .head-line > h1 span {
    color: #36b37e;
    display: block;
  }

  .head-line > h1,
  .head-line > p {
    text-align: center;
    margin-top: 30px;
  }

  .description {
    font-size: 20px;
    font-weight: 400;
  }

  .links {
    margin-top: 15px;
  }

  .links > ul {
    display: flex;
    align-items: center;
    padding-left: 5px;
  }

  .ul-items > li {
    padding: 8px 12px;
    list-style: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    background: #ebf0ee;
  }

  .links > ul > li {
    list-style: none;
    margin: 10px;
  }

  .work {
    padding: 64px 24px;
  }

  .title {
    font-size: 40px;
    font-weight: 700;
    color: #172b4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .work-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 474px);
    row-gap: 15px;
  }

  .work-item {
    background-image: url("./media/plaholder.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid lightgray;
  }

  .work-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 16px;
    height: 50%;
    color: #3a4a42;
  }

  .work-text > h3 {
    font-size: 24px;
    text-align: center;
  }

  .ul-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-right: 15px;
    margin-top: 10px;
  }

  .btn {
    background-color: #36b37f;
    padding: 12px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .about {
    background-image: url("./media/about-me-\ mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 64px 24px;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    color: #42526e;
    text-align: center;
  }

  .about-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 352px);
    row-gap: 15px;
  }

  .about-item {
    background-image: url(./media/plaholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .about-item > img {
    height: 40%;
    object-fit: contain;
  }

  .about-item-text .about-category {
    color: #344563;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    list-style: none;
  }

  .about-item-text {
    display: flex;
    padding-right: 30px;
  }

  .about-category .ul-items li {
    font-size: 11px;
    padding: 5px;
  }

  .about-item-text .ul-items li {
    background-color: #fff;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px;
  }
  .footer > h5 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    text-align: center;
    margin-bottom: 20px;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .contact-form label {
    width: 100%;
  }
  .contact-form input {
    border: 1px solid #D0D9D4;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }
  .message {
    height: 200px;
    background: #fff;
    border: 1px solid #60c095;
    border-radius: 4px;
  }
}
